@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lexend Deca", sans-serif;
}

body {
  font-family: "Lexend Deca", sans-serif;
  background-color: #fff;
  transition: background-color 0.5s ease;
}

footer,
main,
.navbar {
  max-width: 1200px;
  margin: auto;
  padding: 16px;
}

header {
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  main {
    padding: 20px;
  }
}

/* Text Styles*/

.table {
  line-height: 2;
}

.subtitle {
  font-size: 48px;
  font-weight: 100;
}
.subtitle h3 {
  font-size: 48px;
  margin-bottom: 50px;
}

/* Link to project*/

.linktoproject {
  text-decoration: none;
  transition: 1s;
  font-style: italic;
}

.linktoproject:hover {
  text-decoration: underline;
  text-decoration-color: orange;
  text-underline-offset: 10px;
  text-decoration-thickness: 3px;
  font-style: normal;
}
