:root {
  --extreme-h1: 70px;
  --h1: 48px;
  --h2: 32px;
  --h3: 26px;
  --h4: 22px;
  --text: 18px;
  --text-small: 16px;
  --text-subtitle: 14px;

  --extreme: -1.25px;

  --title: "Rubik", sans-serif;
  --body: "Nunito", sans-serif;
  --sub: "Montserrat", sans-serif;

  --card: #f7f7f7;
  --card-hover: #fcfcfc;
  --box: #fcf1e4;
  --button: #7885ff;
  --button-text: fcf1e4;
  --button-hover: #b7c8e9;
  --accent: #e7f53c;
  --text: #1f211f;
}
