* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5; /* Set a default background color */
    transition: background-color 0.5s ease; /* Add transition effect for background color change */
  }

  /* Navbar styles */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 20px 30px;
    margin-bottom: 60px;
    
  }

  .navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
  }

  .navbar a:hover {
    background-color: #555;
  }

  .navbar-toggle {
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    font-size: 16px;
  }

  /* Main body style */

@media all and (max-width: 480px) {
   
    .navbar {
        flex-direction: column;
    }

    .menu{
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
    }
}