@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lexend Deca", sans-serif;
}

body {
  font-family: "Lexend Deca", sans-serif;
  background-color: #fff;
  transition: background-color 0.5s ease;
}

footer,
main,
.navbar {
  max-width: 1200px;
  margin: auto;
  padding: 16px;
}

header {
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  main {
    padding: 50px;
  }
}

/* Text Styles*/

.table {
  line-height: 30px;
}

.subtitle {
  font-size: 24px;
  font-weight: 100;
}

/* Navbar styles */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: black;
  text-decoration: none;
  padding: 10px 15px;
}

.navbar a:hover {
  text-decoration: underline;
  text-decoration-color: orange;
  text-underline-offset: 10px;
  text-decoration-thickness: 3px;
  color: black;
  border-radius: 4px;
}

.right-section a.active {
  text-decoration: underline;
  text-decoration-color: orange;
  background-color: #01447e;
  text-underline-offset: 10px;
  text-decoration-thickness: 3px;
}

.navbar-toggle {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  display: none;
}

.navbar-toggle .bar {
  width: 35px;
  height: 4px;
  border-radius: 5px;
  background-color: black;
  margin: 3px 0px;
}

@media screen and (max-width: 600px) {
  .navbar-toggle {
    display: flex;
    margin-right: 20px;
  }

  .navbar {
    padding: 20px 25px;
  }

  .right-section {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 100%;
    background-color: white;
    padding: 25px;
    top: 10%;
    right: 0;
  }

  .right-section a {
    padding: 12px 15px;
  }

  .right-section.active {
    display: flex;
  }
}

/* Breadcrumb styles */

ul.breadcrumb {
  max-width: 1600px;
  margin: auto;
  list-style: none;
  margin-top: 16px;
  margin-left: 16px;
  font-size: 12px;
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb li + li:before {
  padding: 5px;
  color: black;
  content: "/";
}

ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  ul.breadcrumb {
    display: none;
  }
}

/* Main body style */

.start {
  width: auto;
  height: 450px;
  justify-content: center;
  margin-top: 300px;
  margin-bottom: 150px;
}

@media screen and (max-width: 600px) {
  .start {
    margin-top: 20px;
  }
}

.start p {
  line-height: 1.6;
  font-weight: 200;
}

.start h1.intro-subitle {
  font-size: 28px;
}

.intro-title {
  margin-bottom: 48px;
  font-size: 48px;
}

.intro-title p {
  font-size: 48px;
}

.intro-subitle {
  font-weight: 50;
  font-size: 28px;
}

.description {
  display: inline-block;
  margin-right: 100px;
  vertical-align: top;
}

.description h1 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 12px;
}

.description p {
  font-size: 16px;
  font-weight: 200;
}

/* Projects */

.intro {
  width: auto;
  height: 450px;
  justify-content: center;
  margin-top: 300px;
  margin-bottom: 150px;
}

@media screen and (max-width: 600px) {
  .intro {
    margin-top: 20px;
  }
}

.intro h1 {
  font-size: 48px;
}

.intro p {
  font-size: 16px;
  line-height: 1.6;
}

.description {
  text-align: left;
  margin-top: 24px;
  font-weight: 200;
}

/* Homepage */

.table-container {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.table-row {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  width: 100%;
  margin-bottom: 10px;
}

.table-cell {
  flex: 1;
  box-sizing: border-box;
}

.table-cell-wireframe {
  flex: 1;
  box-sizing: border-box;
  transition: transform 0.5s;
  border-style: solid;
  border-radius: 4px;
  border-color: #333;
}

.table-cell-wireframe:hover {
  flex: 1;
  box-sizing: border-box;
  transform: scale(1.05);
}

.table-cell-2 {
  flex: 1;
  box-sizing: border-box;
  transition: transform 0.5s;
}

.table-cell-2:hover {
  flex: 1;
  box-sizing: border-box;
  transform: scale(1.1);
}

@media screen and (max-width: 600px) {
  .table-cell-2 {
    order: 2;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.table h2 {
  margin-bottom: 12px;
}

.table p {
  margin-bottom: 12px;
}

.subskills {
  margin-bottom: 24px;
  text-transform: uppercase;
  font-weight: 200;
}

/* Projects */

.linktoproject {
  text-decoration: none;
}

/* About */

.start-about {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  height: 450px;
  justify-content: center;
  margin-top: 300px;
  margin-bottom: 150px;
}

@media screen and (max-width: 600px) {
  .start-about {
    margin-top: 20px;
  }
}

.start-about p {
  line-height: 1.6;
  font-weight: 200;
}

.start-about h1.intro-subitle {
  font-size: 28px;
}

.left-side {
  width: 75%;
}

.right-side {
  width: 25%;
}

.motivation {
  margin-bottom: 96px;
}

.practicalknowledge {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin: auto;
  margin-bottom: 104px;
  line-height: 1.6;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .practicalknowledge {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.practicalknowledge h3 {
  font-size: 20px;
  margin-bottom: 8px;
}

.practicalknowledge h5 {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.6;
  margin-bottom: 2px;
}

.practicalknowledge p {
  font-size: 12px;
}

.designphilosophy {
  gap: 20px;
  margin: auto;
  width: 1000px;
  line-height: 1.6;
}

.designphilosophy h3 {
  flex: 1;
}

.designphilosophy img {
  width: 100%;
}

.background {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 96px;
  margin-right: 96px;
  margin-bottom: 88px;
  line-height: 1.6;
}

.background a {
  flex: 1;
  font-weight: 50;
}

.designphilosophy img {
  width: 100%;
}

.skills-n-roles {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media screen and (max-width: 600px) {
  .skills-n-roles {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.skills {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 48px;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 16px;
  flex-wrap: wrap;
}

.subtitle {
  text-align: center;
  margin-bottom: 24px;
  font-size: 24px;
}

.roles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 48px;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 16px;
}

.motivation {
}

.main-body-title {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

/* Collaboration */

.container-title {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.container-title p {
  font-weight: 200;
  margin-left: 96px;
  margin-right: 96px;
  line-height: 1.6;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 96px;
  margin-right: 96px;
}

.card {
  perspective: 1000px;
  width: 300px;
  height: 400px;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card .card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-face {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.card-front {
  background-color: #fff;
}

.card-back {
  background-color: #333;
  color: #fff;
  transform: rotateY(180deg);
}

.cta {
  justify-content: space-around;
  margin: 20px;
  margin-bottom: 100px;
  cursor: pointer;
  transition: transform 0.5s;
  overflow: hidden;
}

.cta .cta-button {
  background-color: #333;
  padding: 24px;
  margin-top: 88px;
  width: 400px;
}

@media screen and (max-width: 600px) {
  .cta .cta-button {
    background-color: #333;
    padding: 16px;
    margin-top: 88px;
    width: 300px;
  }
}

.cta:hover {
  transform: scale(1.2);
}

/* Contact body style */

.contact-intro {
  margin-bottom: 48px;
  margin-top: 96px;
}

.contact-intro h1 {
  margin-bottom: 24px;
}

.contact-intro p {
  margin-bottom: 24px;
  line-height: 1.6;
}

.container-contact h2 {
  margin-bottom: 24px;
}

form {
  display: grid;
  gap: 20px;
}

label {
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

/* Queries */

@media all and (max-width: 480px) {
  .navbar {
    flex-direction: column;
  }

  .menu {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

@media screen and (max-width: 600px) {
  .table-cell {
    flex: 1 0 100%;
  }
}

@media screen and (max-width: 600px) {
  .container-container {
    padding: 10px;
  }
}
