.start {
  display: flex;
  width: auto;
  height: 450px;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 200px;
}

@media screen and (max-width: 600px) {
  .start {
    margin-top: 20px;
    margin-bottom: 400px;
  }
}

.start p {
  line-height: 2;
  font-weight: 300;
  font-size: 28px;
}

.start h1.intro-subitle {
  font-size: 28px;
}

.intro-title {
  margin-bottom: 48px;
  font-size: 48px;
  display: flex;
  justify-content: center;
}

.intro-title-left {
  margin-bottom: 48px;
  font-size: 48px;
  display: flex;
  justify-content: left;
}

.intro-subtitle {
  margin-bottom: 38px;
  display: flex;
  text-align: center;
}

.intro-subtitle-left {
  margin-bottom: 38px;
  display: flex;
  text-align: left;
}

.description {
  margin-right: 100px;
  vertical-align: top;
  display: flex;
  justify-content: left;
  gap: 50px;
}

.description h1 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 12px;
  font-style: italic;
}

.description p {
  font-size: 16px;
  font-weight: 200;
}
